<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        <form action="{% url 'form1' %}" method="POST">
            {% csrf_token %}
            <div style="{% if has_changed %}color: #FF5733;{%endif%}">
                {{ form.as_p }}
            </div>
            <input type="submit" value="Go">
        </form>
        
        <script src="" async defer></script>
    </body>
</html>