body{

  background-image: url("media/bgvertbleu.jpg");

}

:root{

  --elem_bg: rgb(20, 207, 150)

}

h1, h2, h3 {
  font-family: Rubik;
  text-align: center;
  text-shadow: 6px 0.2em var(--elem_bg);
}

.form_type {
  text-align: center;
  text-shadow: rgb(255, 255, 255);
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 800;
  
}

.information{

  text-align: center;
  background-color: var(--elem_bg);
  background-clip: 10;

}

.title{
  text-align: center;
  font-family: Rubik;
  font-weight: 800;
  text-shadow: 6px 0.2em var(--elem_bg);
  border-color: red;
  
}

.container {
    justify-content:auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);


}


.card {
  
    margin: 2em;

    width: 300px;
    height: 360px;
  
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgb(4, 52, 131);
    transition: all 0.2s;

    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: auto;
    text-align: left;

    justify-items: center;
    align-items: center;
  
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    background-color: var(--elem_bg);

  }

  .card-h {
    text-shadow: 6px 0.2em rgb(4, 167, 126);

  }
  .card:hover{
    cursor: pointer;
    transform: scale(1.05);
  }

  .menu{

    width: 2%;

  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 110%;
  }

  .nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  }


  .nav-list a{
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 15px 15px 15px;
    text-decoration:none;
    font-size: 2em;
    background-color: var(--elem_bg);
    text-shadow: 3px 0.1em rgb(4, 167, 126);
  }

  .nav-list a.left{

    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
  }

  .nav-list a.right{

    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }

  .nav-list a:hover {
    border-color: var(--pink);
    color: black;
  }

  .nav-list a.active {
    color: rgb(187, 246, 230);
  }

  .nav-list > li::before {
    content: "";
}