{% extends 'Store/base.html' %}

        {% load static %}
        {% load Store_extras %}

{% block content %}

<div class="register_loging">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}

        <p>
            {{form.username.label}}
            {{form.username}}
            {% for error in form.username.errors %}
                {{ error }}
            {% endfor %}
        </p>
        <p>
            {{form.password.label}}
            {{form.password}}
            
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
        </p>
        <br>
        <input type="submit" name="Login">
    </form>
</div>

{% endblock %}