{% extends 'Store/base.html' %}
        {% load static %}
        {% load Store_extras %}

{% block content %}
        <form action="{% url 'store' %}" method="post">
        
            {% csrf_token %}
            <h2>Filter</h2>

            <p class="filter">
            {{filter_form.type.label}}
            {{filter_form.as_p}}
            </p>
            <input type="submit" value="Find">

        </form>
            <h1>ALL PRODUCTS</h1>
        <div class="container">
            {% for prod in products%}
                <div class="card" onclick="location.href = 'product/{{prod.id}}/';">
                    <h2>{{prod.name}}</h2>
                    <img src="{% static '/media/'|addstr:prod.image %}" style="height:40%">
                    <p>{{prod.description}}</p>
                    <h2><strong>${{prod.price}}</strong><h2>
                </div>
            {%endfor%}
        </div>

{% endblock %}
